.Delete{
    color: white;
    background-color: red;
    padding: 10px;   
}

.view{
    color: white;
    background-color: blue;
    padding: 10px;
}

.control{
    padding: 50px;
}

.header{
    color: white;
    background-color: rgb(48, 47, 47);
    font-size: 20px;
}

.points{
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 20px;

}

.name{
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.group{
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.table{
    border: 10px solid white;
    background-color: rgba(226, 223, 223, 0.5);
    margin: auto;
}

h2{
    text-align: center;
}

